html, body{height: 100%;width: 100%;}
body{
  background: -moz-linear-gradient(top, rgb(54, 26, 107) 8%, rgb(69, 143, 155) 100%);
  background: -webkit-linear-gradient(top, rgb(54, 26, 107) 8%,rgb(69, 143, 155) 100%);
  background: linear-gradient(to bottom, rgb(54, 26, 107) 8%,rgb(69, 143, 155) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#3f96a4',GradientType=0 );
}
#multi-step-container {
    display: block;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 25px 15px;
    box-shadow: 0px 2px 9px -2px rgba(0,0,0,.9);
}
div.indicator {width: 40px;height: 40px;margin: 10px;display: inline-block;border: 2px solid #2196f3; color:white; padding: 2px;border-radius: 100%;}
#steps-indicator-container {display: block;text-align: center;}
div.steps {width: 100%;height: 100%;
    /*margin: 10px;*/
    /*float: left;*/
    /*border: 2px red solid;*/
    padding: 2px;
}
#step-content {position: relative;}
span {font-size: 14px;}
p {clear: left;margin: 10px;}
.active{background: #2196f3;}
.steps{display: none;}
.active-step-content{
  /*background: #f99;*/
  display: block;
}
.input-error{
  background-color: red;
}
.form-control{
  transition: .5s;
}